<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<environments default="develoment">
		<environment id="develoment">
			<transactionManager type="JDBC"/>		
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/CR"/>
				<property name="username" value="CR"/>
				<property name="password" value="cr123"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/cr/persistence/mapping/ProductsMapper.xml" />
	</mappers>
	
</configuration>
