<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cr.persistence.services.ProductsMapper" >
  <resultMap id="BaseResultMap" type="com.cr.domain.Products" >
    <id column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CREATED" property="created" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="INTEGER" />
    <result column="UPDATED" property="updated" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="INTEGER" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="IS_ACTIVE" property="isActive" jdbcType="CHAR" />
    <result column="REFERENCE_SUPPLIER" property="referenceSupplier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PRODUCT_ID, NAME, DESCRIPTION, CREATED, CREATED_BY, UPDATED, UPDATED_BY, AMOUNT, 
    IS_ACTIVE, REFERENCE_SUPPLIER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from products
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
    and IS_ACTIVE = '1'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from products
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cr.domain.Products" >
    insert into products (PRODUCT_ID, NAME, DESCRIPTION, 
      CREATED, CREATED_BY, UPDATED, 
      UPDATED_BY, AMOUNT, IS_ACTIVE, 
      REFERENCE_SUPPLIER)
    values (#{productId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, #{updated,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{isActive,jdbcType=CHAR}, 
      #{referenceSupplier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cr.domain.Products" >
    insert into products
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="created != null" >
        CREATED,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="updated != null" >
        UPDATED,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="isActive != null" >
        IS_ACTIVE,
      </if>
      <if test="referenceSupplier != null" >
        REFERENCE_SUPPLIER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=CHAR},
      </if>
      <if test="referenceSupplier != null" >
        #{referenceSupplier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cr.domain.Products" >
    update products
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updated != null" >
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="isActive != null" >
        IS_ACTIVE = #{isActive,jdbcType=CHAR},
      </if>
      <if test="referenceSupplier != null" >
        REFERENCE_SUPPLIER = #{referenceSupplier,jdbcType=VARCHAR},
      </if>
    </set>
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cr.domain.Products" >
    update products
    set NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=INTEGER},
      UPDATED = #{updated,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=INTEGER},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      IS_ACTIVE = #{isActive,jdbcType=CHAR},
      REFERENCE_SUPPLIER = #{referenceSupplier,jdbcType=VARCHAR}
    where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
  </update>
</mapper>