<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cr.persistence.services.PruebaMapper">

 <resultMap id="BaseResultMap" type="com.cr.domain.PruebaNombre" >
    <result column="NAME" property="nombre" jdbcType="VARCHAR" />
  </resultMap>
 
  <select id="selectPrueba" resultMap="BaseResultMap" >
    select NAME from CR.PRODUCTS
  </select>

</mapper>
